#Projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gg-project {
  max-width: 1366px;
  margin: 0 auto;
  @media screen and (max-height: 750px) {
    transform: scale(0.9);
  }
  @media screen and (max-height: 690px) {
    transform: scale(0.8);
  }
  .swiper-button-next {
    right: 0px;
  }
  .swiper-button-prev {
    left: 0px;
  }
  .gg-full-wrap {
    max-width: 1000px;
    // width: calc(100% - 60px);
    width: 90vw;
    padding: 0 50px;
    position: relative;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .gg-text {
    margin-left: 20px;
  }
  .gg-box {
    display: flex;
    flex-direction: column;
    border: 3px solid #553983;
    padding: 10px;
    margin: 5px auto;
    border-radius: 7px;
    cursor: grab;
    .gg-img img{
      width: 100%;
    }
    .gg-cta {
      display: flex;
      margin-top: 20px;
      img {
        width: 26px;
      }
      .gg-view {
        margin-left: 15px;
      }
      a {
        display: flex;
        border: 1px solid #553983;
        width: fit-content;
        padding: 3px 6px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        &:hover {
          text-decoration: underline;
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
  .swiper-button-prev, .swiper-button-next {
    color: #ffffff;
  }
  @media screen and (max-width: 550px) {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 22px;
    }
    .gg-box .gg-cta {
      display: flex;
      flex-direction: column;
      .gg-view {
        margin-left: 0;
        margin-top: 10px;
      }
    }
    .swiper-button-prev, .swiper-button-next {
      transform: scale(0.7);
    }
    .gg-full-wrap {
      max-width: calc(100%);
    }
  }
} 
