.gg-skills {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
  }
  .gg-front, .gg-back {
    width: 48%;
    border: 3px solid #553983;
    border-radius: 7px;
    padding: 10px 20px;
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    padding: 10px;
    img {
      width: 48px;
    }
    .backImg {
      width: 30px;
      margin-right: 8px;
    }
    span {
      display: inline-block;
      padding-left: 8px;
    }
  }
  p {
    text-indent: 50px;
    font-size: 22px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 8px;
    text-transform: uppercase;
  }
  .gg-skill {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .gg-box {
    border: 1px solid #553983;
    width: fit-content;
    padding: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    .gg-name {
      margin-left: 10px;
    }
    img {
      width: 35px;
      display: block;
    }
  }
  .gg-tool {
    margin-top: 18px;
  }
  .gg-box-wrap {
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
  }
  @media screen and (max-width: 1024px) {
    padding-top: 30px;
    .gg-box-wrap {
      flex-direction: column;
      .gg-back, .gg-front {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
    }
  }
  @media screen and (max-width: 550px) {
    h1 {
      font-size: 30px;
      padding-top: 20px;
    }
    h2 {
      font-size: 22px;
      img {
        width: 30px;
      }
      .backImg {
        width: 26px;
      }
    }
    p {
      font-size: 16px;
    }
    .gg-box {
      .gg-name {
        font-size: 16px;
      }
      img {
        width: 25px;
      }
    }
  }
}
