.navBar {
  height: 100px;
  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @media screen and (max-width: 1460px) {
      padding: 0 100px;
    }
    span {
      font-weight: bold;
      font-size: 25px;
      text-transform: uppercase;
    }
    .social {
      display: flex;
      gap: 20px;
      img {
        width: 20px;
      }
    }
  }
}
.navBar .side {
  position: fixed;
  top: 0;
  z-index: 9999;
}