html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
*::selection {
  background-color: #4b00c35f;
  color: white;
}
body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;// take color from parent
}

section {
  height: 100vh;
  scroll-snap-align: center;
  @media screen and (max-width: 650px) {
    min-height: 100vh;
    height: auto;
  }
}